gitignore
# Arquivos de IDE, sistema e builds
.idea/
.vscode/
*.iml
*.DS_Store
build/
/local.properties
.gradle/
*.apk
*.aab

# Arquivos Python e ambiente virtual
venv/
__pycache__/
*.pyc

# Arquivos de configuração gerados automaticamente
.idea/studiobot.xml
